body {
  margin: 0px;
}

canvas {
  background-image: url('https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/4cad9c88b612175.png')
 ; background-size: cover;
}

img {
  display: none;
}
